:root {
  --main-color: #f8731e;
}

body {
  overflow: hidden;
  font-family: monospace;
  word-spacing: -5px;
  font-weight: bold;
  text-shadow: -1px 1px 2px black;
  font-size: 25px;
  margin-left: 110px;
}

.clock-output {
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 36px;
}
.clock-container {
  position: relative;
}

#date {
  color: white;
  top: 0px;
  right: 135px;
}

#json-data {
  font-size: 18px;
  color: white;
  text-shadow: -1px 1px 1px black;
  top: 32px;
  right: 29px;
  height: 20px;
  padding: 2px;
}

#time {
  color: var(--main-color);
  top: 0px;
  right: 19px;
}

#countdown {
  background-image: linear-gradient(
    to right,
    #9c4f96,
    #ff6355,
    #fba949,
    #fae442,
    #8bd448,
    #2aa8f2,
    #9c4f96
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 210s linear infinite;
  text-shadow: none;
  filter: drop-shadow(-1px 1px 1px black);
}

@keyframes move {
  to {
    background-position: 4500vh;
  }
}

#countdown-display {
  position: relative;
  word-spacing: 0.5rem;
  font-size: 25px;
  right: 92px;
  bottom: 2px;
  color: white;
  font-style: italic
}

svg path[fill="#f9c007"], polygon[fill="#f9c007"] {
	fill: white;
}
svg {
  position: absolute;
  height: 50px;
  bottom: 15px;
  right: 0;
  filter: drop-shadow(-1px 1px rgba(0, 0, 0, 0.5));
}

#countdown {
  position: relative;
  right: 92px;
  display: flex;
  align-items: center;
  font-style: italic
}

.centered-text {
  visibility: hidden;
  text-align: center;
  word-spacing: 0;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Figtree", sans-serif;
}

.small-text {
  color: var(--main-color);
  font-size: 30px;
  text-shadow: 0 1px 0 #c16637, 0 2px 0 #ab5b2f, 0 3px 0 #a05027,
    0 4px 0 #99451f, 0 5px 0 #8e3a17, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.big-text {
  font-size: 65px;
  animation: in 8s ease-out forwards infinite;
  animation-delay: 1s;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

@keyframes in {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 0px;
  }
}

.coloris {
  width: 150px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}
