:root {
  --main-color: red;
}

body {
  overflow: hidden;
  font-family: monospace;
  word-spacing: -5px;
  font-weight: bold;
  text-shadow: -1px 1px 2px black;
  font-size: 25px;
  margin-left: 110px;
}

.clock-output {
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 36px;
}
.clock-container {
  position: relative;
}

#date {
  color: white;
  top: 0px;
  right: 135px;
}

#json-data {
  font-size: 18px;
  color: white;
  text-shadow: -1px 1px 1px black;
  top: 30px;
  right: 26px;
  height: 20px;
  padding: 2px;
}

#time {
  color: var(--main-color);
  top: 0px;
  right: 19px;
}

#countdown-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

#countdown {
  position: relative;
  display: flex;
  align-items: center;
  right: 120px;
  font-style: italic;
  background-image: linear-gradient(
    to right,
    #9c4f96,
    #ff6355,
    #fba949,
    #fae442,
    #8bd448,
    #2aa8f2,
    #9c4f96
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 55s linear infinite;
  text-shadow: none;
  filter: drop-shadow(-1px 1px 1px black);
}

@keyframes move {
  to {
    background-position: 500vh;
  }
}

#countdown-display {
  position: relative;
  word-spacing: 0.5rem;
  font-size: 25px;
  right: 120px;
  color: white;
  font-style: italic;
}

svg path[fill="#f9c007"],
polygon[fill="#f9c007"] {
  fill: white;
}
#logo {
  position: absolute;
  height: 50px;
  bottom: 15px;
  right: 28px;
  filter: drop-shadow(-1px 1px rgba(0, 0, 0, 0.5));
}

.centered-text {
  visibility: hidden;
  text-align: center;
  word-spacing: 0;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Figtree", sans-serif;
}

.small-text {
  color: var(--main-color);
  font-size: 30px;
  text-shadow: 0 1px 0 #990026, 0 2px 0 #800021, 0 3px 0 #66001a,
    0 4px 0 #4d0015, 0 5px 0 #33000f, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.big-text {
  font-size: 65px;
  animation: in 8s ease-out forwards infinite;
  animation-delay: 1s;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

@keyframes in {
  0% {
    letter-spacing: 0px;
  }
  50% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: 0px;
  }
}

.coloris {
  width: 150px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

#boxy,
#lid_shadow,
#box_wrap {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

#full_lid,
#ribbons {
  animation: float2 3s ease-in-out infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

#ribbon_left {
  transform-origin: left bottom;
  transform-box: fill-box;
  animation: rotateL 3s linear infinite;
}

@keyframes rotateL {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#ribbon_right {
  transform-origin: right bottom;
  transform-box: fill-box;
  animation: rotateR 3s linear infinite;
}

@keyframes rotateR {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#gift-box {
  width: 140px;
  margin-right: -140px;
}

#gift-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 28px;
}

@keyframes animBg {
  0% {
    background-position: 0 55%; /* Initial position */
  }
  9% {
    background-position: 0 55%;
  }
  16% {
    background-position: 0 77%;
  }
  68% {
    background-position: 0 77%;
  }
  71% {
    background-position: 0 55%;
  }
  100% {
    background-position: 0 55%;
  }
}

#text-container {
  border-radius: 6px;
  padding: 6px;
  margin-top: 90px;
  max-height: 40px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  background-size: cover;
  background-image: url("santa-sleigh.png");
  animation: animBg 6s linear infinite;
}

h1 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

span::before {
  content: "555";
  animation: animate 12s ease-in infinite;
  padding-left: 3px;
}

@keyframes animate {
  0% {
    content: "WISH Sophie";
	font-style: normal;
    font-size: 22px;	
  }
  30% {
    content: "a Merry Christmas";
	font-style: normal;
    font-size: 22px;	
  }
  
  40% {
    content: "Merry Christmas";
	font-style: normal;
	font-size: 18px;
  }

  40% {
    content: "by Tipping";
	font-size: 22px;
	font-style: italic;
  }

  50% {
    content: "by Tipping";
	font-size: 22px;
	font-style: italic;
  }

  100% {
    content: "555";
	font-style: normal;
	font-size: 30px;
    color: #FFD700;
  }
}
