:root {
  --main-color: #ff2d89;
}

body {
  overflow: hidden;
  font-family: monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  text-shadow: -1px 1px 2px black;
  font-size: 25px;
  margin: 0;
}
.clock-output {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  white-space: nowrap;
}

.clock-container {
  position: absolute;
  top: 10px;
  right: 30px;
  display: flex;
  flex-direction: row; /* Align elements side-by-side */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Add spacing between elements */
  gap: 15px; /* Increase spacing between #date and #time */
}

#date {
  color: white;
  font-size: 25px; /* Ensure consistent font size */
  text-shadow: -1px 1px 1px black;
  padding: 5px; /* Add padding for better appearance */
  box-sizing: border-box; /* Ensure padding doesn't affect dimensions */
  transform: none; /* Remove unnecessary transform adjustments */
}

#json-data {
  position: absolute; /* or 'fixed' depending on your layout needs */
  font-size: 18px;
  color: white;
  text-shadow: -1px 1px 1px black;
  height: 20px;
  padding: 2px;
  top: 0; /* Ensure it starts within the viewport */
  left: 0; /* Ensure it starts within the viewport */
}

#time {
  color: var(--main-color);
  font-size: 25px; /* Ensure consistent font size */
}

#countdown-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

#countdown {
  position: relative;
  display: flex;
  align-items: center;
  right: -10px;
  bottom: 35px;
  font-style: italic;
  background-image: linear-gradient(
    to right,
    #9c4f96,
    #ff6355,
    #fba949,
    #fae442,
    #8bd448,
    #2aa8f2,
    #9c4f96
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 55s linear infinite;
  text-shadow: none;
  filter: drop-shadow(-1px 1px 1px black);
}

@keyframes move {
  to {
    background-position: 500vh;
  }
}

#countdown-display {
  position: relative;
  font-size: 25px;
  right: 135px;
  bottom: 5px;
  color: white;
  font-style: italic;
}

#logo {
  position: absolute;
  height: 60px;
  bottom: 12px;
  right: 20px;
  opacity: 0.8;
  filter: drop-shadow(-1px 1px rgba(0, 0, 0, 0.5));
}

.cls-1 {
  fill: #fff;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke-width: 0px;
}

.cls-2 {
  fill: #eff6ee;
}

.cls-3 {
  fill: #a9262b;
}

.cls-4 {
  fill: #fff;
}

.cls-5 {
  fill: #c22328;
}

.brb-class {
  font-family: "Figtree", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: white;
  visibility: hidden;
  text-transform: uppercase;
  position: absolute;
  word-spacing: 0px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Figtree", sans-serif;
}

.small-text, .small-text2 {
  color: var(--main-color);
  font-size: 30px;
  text-shadow: 0 1px 0 #e60073, 0 2px 0 #cc005e, 0 3px 0 #b3004a,
    0 4px 0 #990033, 0 5px 0 #800026, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.big-text {
  font-size: 65px;
  white-space: nowrap;
  animation: in 8s ease-out forwards infinite;
  animation-delay: 1s;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.ending-class {
  font-family: "Figtree", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: white;
  visibility: hidden;
  text-transform: uppercase;
  position: absolute;
  word-spacing: 0px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Figtree", sans-serif;
}

.big-text2 {
  font-size: 65px;
  white-space: nowrap;
  animation: in 8s ease-out forwards infinite;
  animation-delay: 1s;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

@keyframes in {
  0% {
    letter-spacing: 0px;
    font-size: clamp(32px, 5vw, 65px);
  }
  50% {
    letter-spacing: 10px;
    font-size: calc(65px - (10px * 0.5));
  }
  100% {
    letter-spacing: 0px;
    font-size: clamp(32px, 5vw, 65px);
  }
}


.coloris {
  width: 150px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

#moving-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) scaleX(1);
  cursor: move;
  border: 1px solid transparent; /* Added for visual indication of selection */
}

#image-container {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden; /* Hide content outside the boundaries */
}
